*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(15, 15, 15);
}

.logo {
    width: 50px;
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    color: #fff;
}

.nav_links li a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
}

.nav_links li a:hover {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    transform: translateY(-2px);
}

button {
    padding: 10px 20px;
    border: none;
    background: grey;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

button:hover {
    background: #a91101;
}