<!-- Use this in every page where you want to load the footer
<head>
    <link rel="stylesheet" href="../components/componentStyles/footer.css">
</head>
-->

<footer class="footer" id="site-footer">
      <div class="container">
        <div class="footer-row">
          <!-- Columna 1: Info -->
          <div class="footer-col">
            <h4>Insert company name here</h4>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- Columna 2: Redes Sociales -->
          <div class="footer-col">
            <h4>Follow us!</h4>
            <div class="social-links">
              <a href="#">FB</a>
              <a href="#">IG</a>
              <a href="#">TW</a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2026 Your trademark here. All rights reserved.</p>
        </div>
      </div>
</footer>