<!--Use this in every page where you want to load the header
<head>
    <link rel="stylesheet" href="../components/componentStyles/header.css">
    <script src="../components/header.js" type="module"></script>
</head> 
-->
<header id="site-header">
    <img class= "logo"src="../imgs/logoForHomePage.png" alt="">
    <nav>
        <ul class=" nav_links">
            <li><a href="../pages/userHome.html">Home</a></li>
            <li><a href="../pages/services.html">Services</a></li>
            <li><a href="../pages/projects.html">Projects</a></li>
            <li><a href="../pages/about.html">About</a></li>
        </ul>
    </nav>
    <a id="Button_Act"><button>Logout</button></a>
</header>