* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
}

.wrapper {
    width: 400px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.wrapper form input {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
}

.wrapper button {
    width: 100%;
    padding: 10px;
    border: none;
    background: seagreen;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}