*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Body config*/ 
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body::after {
    background-image: url('../imgs/userHomeBackground.png'); /* Cambia el nombre por el correcto */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    opacity: 0.9;
    top: 110px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/*Main content config*/
.main-content {
    flex: 1;
    padding: 20px;
    z-index: 1;
    position: relative;
}